.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #5346c7;
  font-size: 25px;
  font-weight: 700;
}

.activeLink {
  composes: link;
  color: #ffffff;
}
